/*
    input
*/
.o-input {
  display: inline-block;
  width: 100%;
}

.o-input input {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
}

.o-input input::-ms-clear,
.o-input input::-ms-reveal {
  display: none;
}

.o-input input[type=number]::-webkit-outer-spin-button,
.o-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.o-input {
  position: relative;
}
.o-input input {
  width: 100%;
  height: 32px;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ecf1f8;
  background-color: #f9fbfe;
  color: #333;
}
.o-input input::-moz-placeholder {
  font-weight: 300;
}
.o-input input::placeholder {
  font-weight: 300;
}
.o-input input:focus {
  border: 1px solid #919191;
}
.o-input input:-moz-read-only, .o-input input:-moz-read-only:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-input input:read-only, .o-input input:read-only:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-input input:disabled, .o-input input:disabled:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-input .input-back {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.o-input .input-back > * {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
.o-input .input-front {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.o-input .input-front > * {
  display: inline-block;
  vertical-align: middle;
}
.o-input .o-btn.btn-input-clear {
  width: 18px;
  height: 18px;
  background-image: url("../../img/component/input-clear.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.o-input .o-btn.btn-input-search {
  width: 18px;
  height: 18px;
  background-image: url("../../img/component/btn-search.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.o-input.has-error input {
  background-color: #f6f7f7;
  color: #888;
}
.o-input.sty-wht input {
  background-color: #fff;
}
.o-input.sty-wht input:-moz-read-only, .o-input.sty-wht input:-moz-read-only:focus {
  background-color: #f6f7f7;
}
.o-input.sty-wht input:read-only, .o-input.sty-wht input:read-only:focus {
  background-color: #f6f7f7;
}
.o-input.sty-wht input:disabled, .o-input.sty-wht input:disabled:focus {
  background-color: #f6f7f7;
}
.o-input.sty-wht.has-error input {
  background-color: #f6f7f7;
}
.o-input.sty-grad input {
  background-image: linear-gradient(102deg, #fff5d7 10%, #f2f4f8 46%, #e2ebff 100%);
}
.o-input.sty-grad input::-moz-placeholder {
  font-weight: 300;
  color: #555;
}
.o-input.sty-grad input::placeholder {
  font-weight: 300;
  color: #555;
}
.o-input.sty-grad input:-moz-read-only, .o-input.sty-grad input:-moz-read-only:focus {
  background-image: none;
  background-color: #f6f7f7;
}
.o-input.sty-grad input:read-only, .o-input.sty-grad input:read-only:focus {
  background-image: none;
  background-color: #f6f7f7;
}
.o-input.sty-grad input:disabled, .o-input.sty-grad input:disabled:focus {
  background-image: none;
  background-color: #f6f7f7;
}
.o-input.sty-grad.has-error input {
  background-image: none;
  background-color: #f6f7f7;
}
.o-input.sz-s input {
  height: 22px;
  padding: 3px 8px 3px 8px;
  border: 1px solid #dce0ec;
  font-weight: 300;
}
.o-input.sz-s .o-btn.btn-input-search {
  width: 16px;
  height: 16px;
}

.o-input.ty-round input {
  padding: 9px 18px 9px 18px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
}

/*
    dropbox
*/
.o-select {
  display: inline-block;
  width: 100%;
}

.o-select select {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.o-select select:focus {
  outline: none;
}

.o-select select::-ms-expand {
  display: none;
}

.o-select select:disabled {
  cursor: default;
}

.o-select select {
  height: 32px;
  padding: 7px 30px 7px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ecf1f8;
  background-color: #f9fbfe;
  color: #333;
  background-image: url("../../img/component/select-arrow.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right 10px center;
}
.o-select select:invalid {
  font-weight: 300;
}
.o-select select:focus {
  border: 1px solid #919191;
}
.o-select select:disabled, .o-select select:disabled:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-select select option {
  color: #333;
}
.o-select.has-error select {
  background-color: #f6f7f7;
  color: #888;
}
.o-select.sz-s select {
  height: 22px;
  line-height: 14px;
  padding: 3px 16px 3px 8px;
  border: 1px solid #dce0ec;
  font-weight: 300;
  background-image: url("../../img/component/select-arrow-fill.png");
  background-position: right 1px center;
}

/*
    textarea
*/
.o-textarea {
  display: inline-block;
  width: 100%;
}

.o-textarea textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  outline: none;
  border: none;
}

.o-textarea {
  display: block;
  font-size: 0;
}
.o-textarea textarea {
  padding: 7px 12px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ecf1f8;
  background-color: #f9fbfe;
  color: #333;
  resize: none;
}
.o-textarea textarea::-moz-placeholder {
  font-weight: 300;
}
.o-textarea textarea::placeholder {
  font-weight: 300;
}
.o-textarea textarea:focus {
  border: 1px solid #919191;
}
.o-textarea textarea:-moz-read-only, .o-textarea textarea:-moz-read-only:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-textarea textarea:read-only, .o-textarea textarea:read-only:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-textarea textarea:disabled, .o-textarea textarea:disabled:focus {
  background-color: #f6f7f7;
  color: #888;
}
.o-textarea.has-error textarea {
  background-color: #f6f7f7;
  color: #888;
}